name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_test:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt update -y
        sudo apt install -y g++ make cmake libgtest-dev
        
    - name: Configure and build
      run: |
        cmake -B build -S .
        cmake --build build
        
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-folder
        path: build/
        retention-days: 7
      
  run_tests:
    runs-on: ubuntu-24.04
    needs: build_test

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-folder
          path: build/
        
      - name: Run tests
        run: ctest --test-dir build --output-on-failure
